ans16_0_463.csv
ans16_1389_1852.csv
ans16_1852_2315.csv
ans16_2315_2780.csv
ans16_463_926.csv
jawiki-country.json
neko.txt.mecab
neko.txt
neko.txt.cabocha
sahenwo.txt
train.feature.txt
train.txt
valid.feature.txt
valid.txt
countries.tsv
question-words-ans.txt
question-words.txt
combined.csv
combined.tab
instructions.txt
set1.csv
set1.tab
set2.csv
set2.tab
test.txt
pattern.txt
ans13.txt
ans16_926_1389.csv
col1.txt
col2.txt
popular-names.txt
test.feature.txt
